/*..styling option.html pages and..*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    scroll-behavior: smooth;
 }
 
 body{
     width: 100vw;
     background-color: rgb(234, 240, 160);
 }
 
 header{  /*..header tag styling ..*/
     position:fixed;
     display: flex;
     z-index: 100;
     margin-bottom: 5%;
    
 }
 
 nav{
     position: absolute;
     display: inline;
    
 }
 
 .logo{    /*..logo styling..*/
    width: 173px;
    height: 102px;
     justify-content: center;
     margin-left: 420px;
     margin-top: 8%;
     display: flex;
     flex-wrap: wrap;
 }
 
 .btn-nav1{    /*..navigation bottom styling..*/
    width: 71px;
    height: 78px;
     display: flex;
     position: absolute;
     margin-left: 116%;
     margin-top: -10%;
     animation: pulsing 1s infinite;
 
 }
 
 .btn-nav2{   /*..navigation button 2  styling..*/
    width: 71px;
    height: 78px;
     display: flex;
     position: absolute;
     margin-left: 157%;
     margin-top: -13%;
     animation: pulsing 1.5s infinite;
 }
 
/*..Nav button animation fo pulsing..*/

 @keyframes pulsing{
     0% {
         transform: scale(1);
     }
 
     50%{
         transform: scale(0.97);
     }
 
     100%{
         transform: scale(1);
     }
 }
 
 .container{   /*..styling main contaniner in the page..*/
     width: 100vw;
     position: relative;
     padding-top: 110px;
 }
 
 .wrapper{
     width: 100vw;
     height: 100vh;
     position: relative;
     overflow: hidden;
 }
 
 section{    /*..styling all section tags in the page..*/
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    transition: left 1.5s;
    background-color: rgb(234, 240, 160);
    margin-top: 1%;
    margin-bottom: 15%;
     margin-left: 1%;
 }
 

 /* Flowers animation bounce*/
 
 
 [id^="flower"]{
     animation: bounce 2s infinite alternate;
 
 }
 
 @keyframes  bounce {
     
     from{transform: translateX(2px);}
     to{transform: translateX(-1px);}
 }

 .arrow-left, .arrow-right{
    animation: indicators 2s infinite;
    transform-origin: center;

}

@keyframes indicators{
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }
}

 /* scripts option 1 , 2 and 3 pages animation fade in  */

#script-opt3, #script1, #script1-opt2 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}

#script2-opt2{
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
}



#script-opt3, #script1, #script1-opt2, #script2-opt2{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}



#script-opt3, #script1, #script1-opt2, #script2-opt2{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeIn{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
 

 /* page option1 scene animations start below..*/

 #b-legr-opt1_1_{
    animation: rotationBear 1s infinite alternate;
    animation-delay: 1s;
    transform-origin:top;
    transform-box: fill-box;
}

@keyframes rotationBear{
    from{
        transform: rotateX(-10deg);
    }
    to{
        transform: rotateX(10deg);
    }   
}

#b-legl-opt1_1_{
    animation: rotationBear 0.5s infinite alternate;
    animation-delay: 1s;
    transform-origin:top;
    transform-box: fill-box;
}

@keyframes rotationBear{
    from{
        transform: rotateX(-10deg);
    }
    to{
        transform: rotateX(10deg);
    }   
}

#b-arml-opt1_1_, #b-armr-opt1_1_{
    animation: rotationBearArm 1s infinite alternate;
    animation-delay: 1s;
    transform-origin:top;
    transform-box: fill-box;
}

@keyframes rotationBearArm{
    from{
        transform: rotateX(-3deg);
    }
    to{
        transform: rotateX(10deg);
    }   
}

 /* page option2 scene animations start below..*/

 #b-worry-opt2{
    animation: pulsed 3s infinite;
    transform-origin: center;

}

@keyframes pulsed{
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }
}

#bear-head1-opt2, #m-hand-opt2{
    animation: rotationBearHead 1s infinite alternate;
    animation-delay: 1s;
    transform-origin:center;
    transform-box: fill-box;
}

@keyframes rotationBearHead{
    from{
        transform: rotateZ(-3deg);
    }
    to{
        transform: rotateZ(5deg);
    }   
}

 /* page option3 scene animations start below..*/

 #b-legrop3, #el-legl-opt3{
    animation: rotationBearLeg3 0.5s infinite alternate;
    transform-origin:left;
    transform-box: fill-box;
}

@keyframes rotationBearLeg3{
    from{
        transform: rotateZ(-3deg);
    }
    to{
        transform: rotateZ(3deg);
    }   
}

#b-armop3, #e-arm{
    animation: rotationBearLeg3 1s infinite alternate;
    transform-origin:left;
    transform-box: fill-box;
}

 #e-arm{
    animation: rotationBearLeg3 1s infinite alternate;
    transform-origin:bottom;
    transform-box: fill-box;
}

#rabbit-opt3, #frong-opt3{

    animation: liftRabbit 0.8s infinite alternate;

}

/*..Rabbit animation jump up and down..*/
@keyframes  liftRabbit {
    
    from{transform: translateY(7px);}
    to{transform: translateY(-3px);}
}

.shad1-opt3, .shad2-opt3, .shad3-opt3{
    -webkit-animation:shadow6 1.5s infinite;
    animation: shadow6 1.5s infinite;  
}

@keyframes shadow6 {
    0%   { opacity:0.5; }
    50%  { opacity:0.1; }
    100% { opacity:0.5; }
  }

  @-webkit-keyframes shadow6{
    0%   { opacity:0.5; }
    50%  { opacity:0.1; }
    100% { opacity:0.5; }
  }

  /* large laptop view screen size */

  @media only screen and (max-width: 1553px) {

    svg{
      width: 1200px;
  }
  }  

  /* medium laptop view screen size */

  @media only screen and (max-width: 1337px) {

    svg{
      width: 1100px;
  }

  section{
    width: 100vw;
    height: 100vh;
    margin-top: 8%;
     margin-left: 5%;
 }
  }  

  /* small laptop view screen size */

  @media only screen and (max-width: 1085px) {

    svg{
      width: 950px;
  }

  section{
    width: 100vw;
    height: 100vh;
    margin-top: 8%;
     margin-left: 5%;
 }

 .logo{
    justify-content: center;
    margin-left: 60px;
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
}

.btn-nav1{
    display: flex;
    position: absolute;
    margin-left: 120%;
    margin-top: -15%;
    animation: pulsbtn 1s infinite;

}

.btn-nav2{
    display: flex;
    position: absolute;
    margin-left: 180%;
    margin-top: -20%;
    animation: pulsbtn 1.5s infinite;
}



  }  

  /* large tablet view screen size */

  @media only screen and (max-width: 931px) {

    svg{
      width: 850px;
  }

  section{
    width: 100vw;
    height: 100vh;
    margin-top: 8%;
     margin-left: 5%;
 }
}


/* medium tablet view screen size */

  @media only screen and (max-width: 844px) {

  svg{
    width: 750px;
}

section{
    width: 100vw;
    height: auto;
    margin-top: 4%;
     margin-left: 5%;
 }

 .left-btn img{
    width: 105px;
    height: 87.93px;
  }

  .right-btn img{
    width: 105px;
    height: 87.93px;
  }

  .logo{
    justify-content: center;
    margin-left: 50px;
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
}

.btn-nav1{
    display: flex;
    position: absolute;
    margin-left: 120%;
    margin-top: -15%;
    animation: pulsbtn 1s infinite;

}

.btn-nav2{
    display: flex;
    position: absolute;
    margin-left: 180%;
    margin-top: -20%;
    animation: pulsbtn 1.5s infinite;
}

footer{
    margin-top: -40%;
    margin-left: 5%;
}

}

/* small tablet view screen size */

@media only screen and (max-width: 720px) {

    svg{
      width: 650px;
  }

  section{
    width: 100vw;
    height: 50vh;
    margin-top: -20%;
     margin-left: 5%;
 }

 .logo{
    width: 173px;
    height: 102px;
    margin-left: 60px;
    margin-top: 20%;
    
}

.btn-nav1{
    width: 60px;
    height: 60px;
    margin-left: 120%;
    margin-top: -15%;

}

.btn-nav2{
    width: 60px;
    height: 60px;
    margin-left: 180%;
    margin-top: -20%;
}

    footer{
        margin-top: -100%;
        margin-left: 5%;
    }

  }  