/*..styling pages.html page and scenes..*/

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none; 
   scroll-behavior: smooth;
}

body{
    width: 100vw;
    background-color: rgb(234, 240, 160);
}

header{  /*..header tag styling ..*/
    position:fixed;
    display: flex;
    z-index: 100;
   
}

nav{
    position: absolute;
    display: inline;
   
}

.logo{    /*..logo styling..*/
    justify-content: center;
    margin-left: 350px;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

.btn-nav1{    /*..navigation bottom styling..*/
    display: flex;
    position: absolute;
    margin-left: 116%;
    margin-top: -15%;
    animation: pulsbtn 1s infinite;

}

.btn-nav2{   /*..navigation button 2  styling..*/
    display: flex;
    position: absolute;
    margin-left: 157%;
    margin-top: -20%;
    animation: pulsbtn 1.5s infinite;
}

/*..Nav button animation fo pulsing..*/

@keyframes pulsbtn{
    0% {
        transform: scale(1);
    }

    50%{
        transform: scale(0.97);
    }

    100%{
        transform: scale(1);
    }
}

.container{  /*..styling main contaniner in the page..*/

    width: 100vw;
    position: relative;
    padding-top: 80px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

svg{
    width: 1200px;
}

section{ /*..styling all section tags in the page..*/

   width: 100vw;
   height: 100vh;
   position:absolute;
   overflow: hidden;
   left: 0;
   transition: left 1.5s;
   background-color: rgb(234, 240, 160);
   margin-top: 4%;
    margin-left: 10%;
}


.section-1{
    z-index: 60;
}



/* Sun animation rotation*/

#sun{
    width: 50px;
    display: flex;
    position: relative;
    justify-self: right;
    animation: rotation 10s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotation {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }   
}

/* Flowers animation bounce*/


.flowers{
    animation: bounce 2s infinite alternate;

}

@keyframes  bounce {
    
    from{transform: translateX(2px);}
    to{transform: translateX(-1px);}
}

/* Links section arrows animation pulse*/


.left-btn, .right-btn{
    animation: pulse 1s infinite;
    transform-origin: center;

}

@keyframes pulse{
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }
}

.page-btn {
    position: fixed;
    z-index: 100;
    top: 40%;
    transform: translateY(-40%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .left-btn img{
    width: 145px;
    height: 107.93px;
  }

  .right-btn img{
    width: 145px;
    height: 107.93px;
  }

  .left-btn {
      position: absolute;
  }
  
 
  .right-btn {
    position: absolute;
    right: 10px;
  }
/* Scripts text ballon animation fade in on 1st scene*/

#script1 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}

#script2{
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
}



#script1, #script2 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}



#script1, #script2{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeIn{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.leg{
    animation: scratch 1s infinite alternate;

}

@keyframes  scratch {
    
    from{transform: translateY(3px);}
    to{transform: translateY(-1px);}
}

.head{
    animation-iteration-count: infinite;
    animation: shack 3s infinite alternate;

}

@keyframes  shack {
    from{transform: translateX(2px);}
    to{transform: translateX(-2px);}
}

.arm{
    animation: lift 2s infinite alternate;

}

@keyframes  lift {
    
    from{transform: translateY(3px);}
    to{transform: translateY(-1px);}
}

/*....start section-2...*/

.section-2{
    z-index: 50;
}


.section-2{
    
    background-color: rgb(234, 240, 160);
}

.section-2-wrapper{
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


/*..2nd scene animation starting below..*/

/*..Script box animation fade in..*/

#script2-1 {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    animation-delay: 10s;
}

#script2-2{
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;
    animation-delay: 13s;

}
  

#script2-1, #script2-2 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#script2-1, #script2-2{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

#script2-3 {
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
}

#script2-4{
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    animation-delay: 17s;

}
  

#script2-3, #script2-4 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}



#script2-3, #script2-4{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
/*..Script end..*/


.leavest{  /*..flowers moving side to side..*/

    animation: bounce 1s infinite alternate;

}

/*..bear seat arms and legs moving up and down..*/

#b2-arm, #b2-leg{
    animation: liftB2 2s infinite alternate;

}

@keyframes  liftB2 {
    
    from{transform: translateY(3px);}
    to{transform: translateY(-2px);}
}

#b2-arm2, #b2-leg2{
    animation: liftB22 1s infinite alternate;

}


@keyframes  liftB22 {
    
    from{transform: translateY(-1px);}
    to{transform: translateY(2px);}
}

/*..end of bear move animation..*/

/*..frog character animations start below..*/


#f-leg2{
    animation: rotationF 1s infinite alternate;
    transform-origin: left;
    transform-box: fill-box;

}

 #f-arm{
    animation: rotationF 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;

}

@keyframes rotationF {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(10deg);
    }   
}

#f-arm_1_{
    animation: rotationF 2s infinite alternate;
    transform-origin: left;
    transform-box: fill-box;

}

 
 .shad1{
    -webkit-animation:flickerAnimation 3.2s infinite;
    animation: flickerAnimation 3.2s infinite;  
}
/*..end of frog move animation..*/

/*..shades under the rabbit and elephant animation..*/

 .shad2, .shad3{
    -webkit-animation:flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;  
}

@keyframes flickerAnimation {
    0%   { opacity:0.5; }
    50%  { opacity:0.1; }
    100% { opacity:0.5; }
  }

  @-webkit-keyframes flickerAnimation{
    0%   { opacity:0.5; }
    50%  { opacity:0.1; }
    100% { opacity:0.5; }
  }

.ball{  /*..ball move up and down animation..*/

    animation: liftBall 1s infinite alternate;

}

 #rabbit2, #elephant2{ /*..rabbit and elephant animation jumping up..*/

    animation: liftBall 0.5s infinite alternate;

}

@keyframes  liftBall {
    
    from{transform: translateY(7px);}
    to{transform: translateY(-3px);}
}

/*..end of 2nd scene animation..*/

/*....start section-3...*/

.section-3{
    z-index: 40;
}

.section-3-wrapper{
    display: flex;
    align-items: center;
    margin-left: -3%;
    margin-top: -20px;
}

/*..starting 3rd-scene animation below..*/

[id^="butter"]{
    animation: colours 3s  ease-in-out forwards infinite;
    
}

@keyframes  colours {
    0%{fill: rgb(236, 233, 46);}
    25%{fill: rgb(5, 110, 19);}
    50%{fill:rgb(206, 13, 13);}
    75%{fill:rgb(150, 101, 147);}
    100%{fill: darkmagenta;}
}

#script3-1{
    animation: Flesh 1s infinite;  

}

#script3-2{
    animation: Flesh 2s infinite;  

}
@keyframes Flesh {
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }


  /*....start section-4...*/

.section-4{
    z-index: 30;
}

/*..starting 4th-scene animation below..*/

#clock-pm, #clock-hr{
    animation: rotationClk 50s infinite forwards;
    animation-delay: 10s;
    transform-origin:bottom;
    transform-box: fill-box;
}

 #clock-hr{
    animation: rotationClk 25s infinite forwards;
    animation-delay: 5s;
    transform-origin:right;
    transform-box: fill-box;
}

@keyframes rotationClk {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(20deg);
    }   
}


#b-head4{
    animation: rotationHead 5s infinite alternate;
    animation-delay: 5s;
    transform-origin:bottom;
    transform-box: fill-box;
}

#b4-legr, #b4-arm{
    animation: rotationHead 3s infinite alternate;
    animation-delay: 1s;
    transform-origin:top;
    transform-box: fill-box;
}

@keyframes rotationHead {
    from{
        transform: rotateZ(-5deg);
    }
    to{
        transform: rotateZ(5deg);
    }   
}

#bd-invit{
    animation: bdInvite 1s infinite alternate;

}

@keyframes  bdInvite {
    
    from{transform: translateX(2px);}
    to{transform: translateX(-1px);}
}

#script4{
    animation: scriptColours 3s  ease-in-out forwards infinite;
    
}

@keyframes  scriptColours {
    0%{fill: rgb(10, 10, 9);}
    50%{fill:rgb(82, 80, 80);}
    100%{fill: rgb(105, 91, 10);}
}

  /*....start section-5...*/

.section-5{
    z-index: 20;
}

/*..5th scene animation starting below..*/

#script5{
    -webkit-animation-delay: 38s;
    -moz-animation-delay: 38s;
    animation-delay: 38s;

}
  
#script5{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#script5{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

#bear5{
    animation: rotationBear 2s infinite alternate;
    animation-delay: 1s;
    transform-origin:center;
    transform-box: fill-box;
}

@keyframes rotationBear{
    from{
        transform: rotateZ(-3deg);
    }
    to{
        transform: rotateZ(3deg);
    }   
}

#vibrer, #vibrel {
    animation: vibration 2s infinite;  

}

@keyframes vibration {
    0%   { opacity:1; }
    50%  { opacity:0.1;}
    100% { opacity:1; }
  }


#b5-shadow{
    -webkit-animation:flickerAnimation 3.2s infinite;
    animation: flickerAnimation 3.2s infinite;  
}

#bt5-arm{
    animation: rotationBear 2s infinite alternate;
    transform-origin:left;
    transform-box: fill-box;
}

  /*....start section-6...*/

.section-6{
    z-index: 10;
}

/*..6th scene animation starting below..*/

#script6-0 {
    -webkit-animation-delay: 45s;
    -moz-animation-delay: 45s;
    animation-delay: 45s;
}

#script6-1{
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    animation-delay: 50s;

}
  
#script6-0, #script6-1 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#script6-0, #script6-1{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

#rabbit5{ /*..rabbit and elephant animation jumping up..*/

    animation: liftRabbit 0.8s infinite alternate;

}

@keyframes  liftRabbit {
    
    from{transform: translateY(7px);}
    to{transform: translateY(-3px);}
}


.shad6-1, .shad6-2{
    -webkit-animation:shadow6 1.5s infinite;
    animation: shadow6 1.5s infinite;  
}

@keyframes shadow6 {
    0%   { opacity:0.5; }
    50%  { opacity:0.1; }
    100% { opacity:0.5; }
  }

  @-webkit-keyframes shadow6{
    0%   { opacity:0.5; }
    50%  { opacity:0.1; }
    100% { opacity:0.5; }
  }

  #el-legl6{
    animation: rotationBear 0.5s infinite alternate;
    transform-origin:left;
    transform-box: fill-box;
}

#e6-arm{
    animation: rotationBear 1s infinite alternate;
    transform-origin:bottom;
    transform-box: fill-box;
}

#b-legl6, #f-arml6, #f-arm6r{
    animation: rotationBear 1s infinite alternate;
    transform-origin:top;
    transform-box: fill-box;
}

#sun6{
    animation: sunColours 1s  ease-in-out forwards infinite;
    
}

@keyframes  sunColours {
    0%{stroke: rgb(238, 238, 29);}
    50%{stroke:rgb(85, 88, 30);}
    100%{stroke: rgb(211, 207, 5);}
}


#card1, #card3{
    animation: bounceCard 0.5s infinite alternate;

}

@keyframes  bounceCard {
    
    from{transform: translateY(7px);}
    to{transform: translateY(-3px);}
}

#card2{
    animation: bounceCard2 0.5s infinite alternate;

}

@keyframes  bounceCard2 {
    
    from{transform: translateY(-7px);}
    to{transform: translateY(5px);}
}



/*....progress pages number and circle at bottom...*/

.progress-wrapper{
    position: fixed;
    z-index: 100;
    bottom: 2rem;
    left: 25rem;
}


.progress{
   margin: 1rem 0;
    text-align: center;
    margin-right: 8rem;
}

small{
    padding: 2rem 0;

}

.progress h2 {
   font-size: 2.5rem;
   font-weight: 300;
   color: black;
}

 .circle {
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #000000;
    border-radius: 50%;
    margin: 0 0.3rem;
    transition: background-color 0.3s;
}

.circle-1{
    background-color: #ddd;
}

.circle-wrapper{
    display: flex;
}

/*....End of progress here...*/

/*....import external font to the project inside font folder...*/
@font-face{
    font-family: arialRoundedBold; 
    src: url('/font/ARLRDBD.TTF');
}

#card1, #card2, #card3,  text{ /*....applying font on svg areas option cards 1, 2, 3...*/
    font-family: arialRoundedBold;
}


.section-wrapper{
   transform: scale(1.5);
   transition:all 2s ;
}

@media screen and (max-width: 1837px) {
    svg{
        width: 1000px;
        height: 410px;
    }
}

/* large laptop view screen size */

@media screen and (max-width: 1637px) {
    svg{
        width: 1000px;
    }
}

/* large laptop view screen size */

@media screen and (max-width: 1437px) {
    svg{
        width: 1000px;
    }
}

/* medium laptop view screen size */

@media screen and (max-width: 1133px) {
    svg{
        width: 900px;
    }
}

/* small laptop view screen size */

@media screen and (max-width: 1063px) {
    .left-btn img{
        width: 85px;
        height: 67.93px;
      }
    
      .right-btn img{
        width: 85px;
        height: 67.93px;
      }
}

/* large tablet view screen size */

@media screen and (max-width: 911px) {
    svg{
        width: 800px;
    }

    .logo{
        justify-content: center;
        margin-left: 50px;
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .btn-nav1{
        display: flex;
        position: absolute;
        margin-left: 120%;
        margin-top: -15%;
        animation: pulsbtn 1s infinite;
    
    }
    
    .btn-nav2{
        display: flex;
        position: absolute;
        margin-left: 210%;
        margin-top: -20%;
        animation: pulsbtn 1.5s infinite;
    }
}


/* medium tablet view screen size */

@media only screen and (max-width: 844px) {

    svg{
        width: 750px;
    }
    section{
        width: 100vw;
        height: 100vh;
        position:absolute;
        overflow: hidden;
        left: 0;
        transition: left 1.5s;
        background-color: rgb(234, 240, 160);
        margin-top: 4%;
         margin-left: 5%;
     }

     .left-btn img{
        width: 85px;
        height: 67.93px;
      }
    
      .right-btn img{
        width: 85px;
        height: 67.93px;
      }

      .logo{
        justify-content: center;
        margin-left: 50px;
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .btn-nav1{
        display: flex;
        position: absolute;
        margin-left: 120%;
        margin-top: -15%;
        animation: pulsbtn 1s infinite;
    
    }
    
    .btn-nav2{
        display: flex;
        position: absolute;
        margin-left: 180%;
        margin-top: -20%;
        animation: pulsbtn 1.5s infinite;
    }

    .progress-wrapper{
        position: fixed;
        z-index: 100;
        bottom: 2rem;
        left: 10rem;
    }
}

/* small tablet view screen size */

@media only screen and (max-width: 759px) {

    svg{
        width: 650px;
    }
    section{
        width: 100vw;
        height: 100vh;
        position:absolute;
        overflow: hidden;
        left: 0;
        transition: left 1.5s;
        background-color: rgb(234, 240, 160);
        margin-top: 4%;
         margin-left: 5%;
     }

     .left-btn img{
        width: 85px;
        height: 67.93px;
      }
    
      .right-btn img{
        width: 85px;
        height: 67.93px;
      }

      .logo{
        justify-content: center;
        margin-left: 50px;
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .btn-nav1{
        display: flex;
        position: absolute;
        margin-left: 120%;
        margin-top: -15%;
        animation: pulsbtn 1s infinite;
    
    }
    
    .btn-nav2{
        display: flex;
        position: absolute;
        margin-left: 180%;
        margin-top: -20%;
        animation: pulsbtn 1.5s infinite;
    }

    .progress-wrapper{
        position: fixed;
        z-index: 100;
        bottom: 2rem;
        left: 10rem;
    }
}

/* small tablet or mobile horizontal view screen size */

@media only screen and (max-width: 679px) {

    svg{
        width: 600px;
    }
    section{
        width: 100vw;
        height: 100vh;
        position:absolute;
        overflow: hidden;
        left: 0;
        transition: left 1.5s;
        background-color: rgb(234, 240, 160);
        margin-top: 4%;
         margin-left: 5%;
     }

     .left-btn img{
        width: 75px;
        height: 67.93px;
      }
    
      .right-btn img{
        width: 75px;
        height: 67.93px;
      }

      .logo{
        width: 173px;
        height: 102px;
    }

    .btn-nav1{ 
        width: 60px;
        height: 60px;
        margin-left: 120%;
        margin-top: -3%;
    
    }
    
    .btn-nav2{
        width: 60px;
        height: 60px;
        margin-left: 180%;
        margin-top: -10%;
    }
}
